body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: calc(100vh - 100px);
}

.appHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1F2937;
}

.appHeader nav {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.postsWrapper {
  display: grid;
  gap: 1rem;
  max-width: 1200px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profileAvatar {
  height: 40px;
  width: 40px;
}